<!DOCTYPE html>
<meta charset= "UTF-8">
    <head>
        <title>QSelector</title>
        <link rel= "stylesheet" href="/CSS Documents/QSelector style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet"> 
    </head>
    <body>
     <h1 style= "display: inline; position: relative; left: 550px; top: 30px;">QSelector</h1>
     
     <ul class="flagshipphone">
        <button class= "button"><li class= "list-item">Samsung Galaxy S22 serie</li></button>
        <button class= "button"><li class="list-item">Google Pixel 6 serie</li></button>
        <button class= "button"><li class="list-item">Xiaomi 12 serie</li></button>
        <button class= "button"><li class="list-item">Iphone 13 serie</li></button>
        <button class= "button"><li class="list-item">OnePlus 9 serie</li></button>
     </ul>
 
    <script src= "/Javascript Documents/QSelector script.js"></script>
    </body>